.responses-table-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: white;
  }
  
  .responses-table-container h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #FC5F0D;
    padding: 8px;
    background-color: #0E0E0E;
    text-align: center;
  }
  
  /* th {
    background-color: #0E0E0E;
    text-align: left;
  }
   */
  tbody tr:hover {
    background-color: #FC5F0D;
  }

.link{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: rgb(44, 44, 247);
    color: rgb(44, 44, 247);
}
  